# Ignore node_modules directory in the root
node_modules/

# Ignore any build artifacts
/build/
/dist/

# Ignore environment files (e.g., environment.ts)
/src/environments/*.ts

# Ignore client-side build artifacts
/client/node_modules/
/client/dist/

# Ignore server-side build artifacts
/server/node_modules/
/server/dist/

# Ignore any local environment configuration files
.env

# Ignore any IDE or editor-specific files
.idea/
.vscode/