<div class="form-component add-hotel-container">
    <div class="inner-container">
        <div class="form-container">
            <h2>Create Hotel</h2>
            <form [formGroup]="addHotelForm" (submit)="createHotel()">
                <div *ngIf="!isShowRoomPriceForm">
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" type="text" [(ngModel)]="newHotel.name">
                        </mat-form-field>
                    </div>
                    <div formGroupName="location">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Country</mat-label>
                                <input matInput formControlName="country" type="text" [(ngModel)]="newHotel.location.country">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>City</mat-label>
                                <input matInput formControlName="city" type="text" [(ngModel)]="newHotel.location.city">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Street</mat-label>
                                <input matInput formControlName="street" type="text" [(ngModel)]="newHotel.location.street">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Number</mat-label>
                                <input matInput formControlName="number" type="number" [(ngModel)]="newHotel.location.number">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Capacity</mat-label>
                            <input matInput formControlName="capacity" type="number" [(ngModel)]="newHotel.capacity">
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="warn" (click)="roomPriceFormVisibility(true)">Next</button>
                </div>
                <div formGroupName="rooms" *ngIf="isShowRoomPriceForm">
                    <h3>Room Prices</h3>
                    <div>
                        <mat-label>Regular</mat-label>
                        <mat-form-field appearance="outline">
                            <mat-label>Adult</mat-label>
                            <input matInput formControlName="regularAdult" type="number" [(ngModel)]="regularRoomPrice.adultPrice">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Child</mat-label>
                            <input matInput formControlName="regularChild" type="number" [(ngModel)]="regularRoomPrice.childPrice">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-label>Big</mat-label>
                        <mat-form-field appearance="outline">
                            <mat-label>Adult</mat-label>
                            <input matInput formControlName="bigAdult" type="number" [(ngModel)]="bigRoomPrice.adultPrice">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Child</mat-label>
                            <input matInput formControlName="bigChild" type="number" [(ngModel)]="bigRoomPrice.childPrice">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-label>Suite</mat-label>
                        <mat-form-field appearance="outline">
                            <mat-label>Adult</mat-label>
                            <input matInput formControlName="suiteAdult" type="number" [(ngModel)]="suiteRoomPrice.adultPrice">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Child</mat-label>
                            <input matInput formControlName="suiteChild" type="number" [(ngModel)]="suiteRoomPrice.childPrice">
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-raised-button (click)="roomPriceFormVisibility(false)">Back</button>
                    <button type="submit" mat-raised-button
                        style="background-color: #75ba75; color: white;">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>